* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* this is for Welcome to my Checkboard */
header {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin: 30px;
}

/* this centers the checkerboard while giving it a border */
main {
    border: 1px solid black;
    max-width: 800px;
    margin: auto;
}

/* this defines the div with the border class with a display of grid and giving each space 100px eight down and eight across */

.border {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
}

/* below are all the stylings for the black squares */


/* To read the code below, 

grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */

.b-1 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: black;
}

.b-2 {
    grid-area: 1 / 3 / 2 / 4;
    background-color: black;
}

.b-3 {
    grid-area: 1 / 5 / 2 / 6;
    background-color: black;
}

.b-4 {
    grid-area: 1 / 7 / 2 / 8;
    background-color: black;
}

.b-5 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: black;
}

.b-6 {
    grid-area: 2 / 4 / 3 / 5;
    background-color: black;
}

.b-7 {
    grid-area: 2 / 6 / 3 / 7;
    background-color: black;
}

.b-8 {
    grid-area: 2 / 8 / 3 / 9;
    background-color: black;
}

.b-9 {
    grid-area: 3 / 1 / 4 / 2;
    background-color: black;
}

.b-10 {
    grid-area: 3 / 3 / 4 / 4;
    background-color: black;
}

.b-11 {
    grid-area: 3 / 5 / 4 / 6;
    background-color: black;
}

.b-12 {
    grid-area: 3 / 7 / 4 / 8;
    background-color: black;
}

.b-13 {
    grid-area: 4 / 2 / 5 / 3;
    background-color: black;
}

.b-14 {
    grid-area: 4 / 4 / 5 / 5;
    background-color: black;
}

.b-15 {
    grid-area: 4 / 6 / 5 / 7;
    background-color: black;
}

.b-16 {
    grid-area: 4 / 8 / 5 / 9;
    background-color: black;
}

.b-17 {
    grid-area: 5 / 1 / 6 / 2;
    background-color: black;
}

.b-18 {
    grid-area: 5 / 3 / 6 / 4;
    background-color: black;
}

.b-19 {
    grid-area: 5 / 5 / 6 / 6;
    background-color: black;
}

.b-20 {
    grid-area: 5 / 7 / 6 / 8;
    background-color: black;
}

.b-21 {
    grid-area: 6 / 2 / 7 / 3;
    background-color: black;
}

.b-22 {
    grid-area: 6 / 4 / 7 / 5;
    background-color: black;
}

.b-23 {
    grid-area: 6 / 6 / 7 / 7;
    background-color: black;
}

.b-24 {
    grid-area: 6 / 8 / 7 / 9;
    background-color: black;
}

.b-25 {
    grid-area: 7 / 1 / 8 / 2;
    background-color: black;
}

.b-26 {
    grid-area: 7 / 3 / 8 / 4;
    background-color: black;
}

.b-27 {
    grid-area: 7 / 5 / 8 / 6;
    background-color: black;
}

.b-28 {
    grid-area: 7 / 7 / 8 / 8;
    background-color: black;
}

.b-29 {
    grid-area: 8 / 2 / 9 / 3;
    background-color: black;
}

.b-30 {
    grid-area: 8 / 4 / 9 / 5;
    background-color: black;
}

.b-31 {
    grid-area: 8 / 6 / 9 / 7;
    background-color: black;
}

.b-32 {
    grid-area: 8 / 8 / 9 / 9;
    background-color: black;
}